In [2]:
escolas = {'Almada':['EB1 Almada', 'EB2 Almada', 'EB3 Almada', 'EB4 Almada', ],
'Barreiro':['EB1 Barreiro', 'EB2 Barreiro', 'EB3 Barreiro', 'EB1 Barreiro', 'EB2 Barreiro', 'EB3 Barreiro', 'EB1 Barreiro', 'EB2 Barreiro', 'EB3 Barreiro', 'EB4 Barreiro', 'EB5 Barreiro', ],
'Setubal':['EB1 Setubal', 'EB2 Setubal', 'EB3 Setubal', 'EB4 Setubal', 'EB5 Setubal', 'EB6 Setubal', ],
'Mafra':['EB1 Mafra', 'EB2 Mafra', 'EB3 Mafra'],
}

In [3]:
lista = []
descolas = {}
for m in escolas:
    for escola in escolas[m]:
        descolas[escola] = {'nome':escola, 'morada': 'morada'}

In [4]:
descolas

{'EB1 Almada': {'nome': 'EB1 Almada', 'morada': 'morada'},
 'EB2 Almada': {'nome': 'EB2 Almada', 'morada': 'morada'},
 'EB3 Almada': {'nome': 'EB3 Almada', 'morada': 'morada'},
 'EB4 Almada': {'nome': 'EB4 Almada', 'morada': 'morada'},
 'EB1 Barreiro': {'nome': 'EB1 Barreiro', 'morada': 'morada'},
 'EB2 Barreiro': {'nome': 'EB2 Barreiro', 'morada': 'morada'},
 'EB3 Barreiro': {'nome': 'EB3 Barreiro', 'morada': 'morada'},
 'EB4 Barreiro': {'nome': 'EB4 Barreiro', 'morada': 'morada'},
 'EB5 Barreiro': {'nome': 'EB5 Barreiro', 'morada': 'morada'},
 'EB1 Setubal': {'nome': 'EB1 Setubal', 'morada': 'morada'},
 'EB2 Setubal': {'nome': 'EB2 Setubal', 'morada': 'morada'},
 'EB3 Setubal': {'nome': 'EB3 Setubal', 'morada': 'morada'},
 'EB4 Setubal': {'nome': 'EB4 Setubal', 'morada': 'morada'},
 'EB5 Setubal': {'nome': 'EB5 Setubal', 'morada': 'morada'},
 'EB6 Setubal': {'nome': 'EB6 Setubal', 'morada': 'morada'},
 'EB1 Mafra': {'nome': 'EB1 Mafra', 'morada': 'morada'},
 'EB2 Mafra': {'nome': 'EB2 Mafra', 'morada': 'morada'},
 'EB3 Mafra': {'nome': 'EB3 Mafra', 'morada': 'morada'}}